@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');

:root {
  --primary-color: white;
  --secondary-color: black;
  --accent1-color: darkcyan;
  --accent2-color: red;

  --sans-font: 'PT Sans', sans-serif;
  --serif-font: 'PT Serif', serif; 
}


body {
  font-size: 16px;
  line-height: 1.5;
}

header,
main,
footer {
  margin: 1rem auto;
  max-width: 720px;
}

header,
footer {
  font-family: var(--serif-font);
  background-color: var(--accent1-color);
  color: var(--secondary-color);
  text-align: center;
  border-style: none;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1.1rem;
  padding: 1.1rem;
  align-items: center;
  text-align: center;
}

header img {
  border-style: none;
}

main {
  font-family: var(--sans-font);
  display: grid;
  grid-template-columns: 1fr;
}

section {
  border-style: solid;
  border-radius: 12px;
  border-width: 1px;

  margin: 0.5rem; 
  padding: 0.5rem;

}

footer {
  padding: 0.9rem;
  font-size: 0.9rem;
}
