@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');


:root {
  --primary-color: #DEB887;
  --secondary-color: #F5DEB3;
  --accent1-color: #396E94;
  --accent2-color: #800000;

  --sans-font: 'PT Sans', sans-serif;
  --serif-font: 'PT Serif', serif; 
}


body {
  font-size: 18px;
  line-height: 1.5;
}

header,
main,
footer {
  margin: 1rem auto;
  max-width: 720px;
}

header,
footer {
  font-family: var(--serif-font);
  background-color: darkcyan;
  color: black;
  text-align: center;
  border-style: double;
  border-radius: 12px;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 1.1rem;
  padding: 1.1rem;
  align-items: center;
  text-align: center;
}

header img {
  border-style: double;
  border-radius: 12px;
}

main {
  font-family: var(--sans-font);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  padding: 0.9rem;
  font-size: 0.9rem;
}
